@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active {
    /* Mengakali background dengan shadow warna gelap (slate-900) */
    -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
    
    /* Memaksa teks autofill menjadi putih */
    -webkit-text-fill-color: white !important;
    
    /* Mencegah transisi warna bawaan browser */
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* Untuk horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

